/**
 * Red Hat theme for reveal.js.
 * Author: Jeff Cody
 * based on solarized dark theme by Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@font-face {
	font-family: 'League Gothic';
	src: url('../../lib/font/league_gothic-webfont.eot');
	src: url('../../lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../lib/font/league_gothic-webfont.woff') format('woff'),
		 url('../../lib/font/league_gothic-webfont.ttf') format('truetype'),
		 url('../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');

	font-weight: normal;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto%20Slab:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Changa+One|Righteous|Open+Sans);


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #ffffff;
$base00:    #eeeeee;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $base3;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// $mainFont: "Roboto Slab", sans-serif;
// $mainFontSize: 36px;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }

body {
  background-image:url('http://bugnik.us/kvm2013/img/rh-background-slides.png');
  background-size: cover !important;
  background-repeat: no-repeat !important;
 }

.reveal .slide-background .videoback {
	object-fit: fill !important;
}


.reveal h1.alt,
.reveal h2.alt {
  margin: 0 0 20px 0;
  color: #eee8d5;
  font-family: "League Gothic", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none; }

.reveal h1.alt {
  font-size: 3.77em; }

.reveal h2.alt {
  font-size: 2.11em; }

.reveal pre.alt {
    width: 93%;
	box-shadow: -10px 10px 40px rgba(0,0,0,0.9);
}

.reveal pre code.alt {
    overflow: visible;
    max-height: 900px;
}

#header-white {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  top: 35%;
  left: 0%;
  min-width:100%;
  box-shadow: 0px 10px 40px rgba(0,0,0,0.9);
  z-index: 1; }

.header-visible #header-white {
    opacity: 1; }

.reveal #header-white h1,
.reveal #header-white h2,
.reveal #header-white h3,
.reveal #header-white h4,
.reveal #header-white h5,
.reveal #header-white h6 {
  color: #ffffff; }

.reveal #header-white a[href^="mailto:"] {
  color: #ff5555; }

#logo-white {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  bottom: 3%;
  left: 3%;
  z-index: 1; }

#logo-white img {
  width: 5em; }

#logo-black {
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  bottom: 3%;
  left: 3%;
  z-index: 1; }

#logo-black img {
  width: 5em; }

.logo-light #logo-white {
  opacity: 1; }
.logo-light #logo-black {
  opacity: 0; }

.logo-none #logo-black {
  opacity: 0; }


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
